//note w & h & padding & margin
$note-date-h: 17px;
$note-title-h: 17px;
$note-x-h: 17px;

// text
$note-title-tsize: 17px;
$note-date-tsize: 13px;
$note-content-tsize: 15px;
$note-x-tsize:11px;


.note00{
    .note01{
        height: $note-title-h;
        // 備忘錄標題
        .note-title{
            height: $note-title-h;
            font-size: $note-title-tsize;
        }
        // 備忘錄日期
        .note-date{
            font-size: $note-date-tsize;
            line-height: $note-date-h;
        }
        .note-x{
            font-size: $note-x-tsize;
            line-height: $note-x-h;
        }
    }
    
    .note02{
        // 備忘錄內容
        .note-content{
            font-size: $note-content-tsize;
        }
    }

}

