// note-color
$note00-bgcolor: #E0ECE4;

// text
$note-title-color: #797A7E;
$note-date-color: rgb(102, 102, 100);
$note-x-color: #898a8f;
$note-content-color: #A6A6A6;


.note00{
    background-color: $note00-bgcolor;

    .note01{
        // 備忘錄標題
        .note-title{
            color: $note-title-color;
        }
        // 備忘錄日期
        .note-date{
            color: $note-date-color;
        }
        .note-x{
            color: $note-x-color;
        }
    }
    hr{
        border: 0.5px solid #929eaf;
    }
    .note02{
        // 備忘錄內容
        .note-content{
            color: $note-content-color;
        }
    }
}

.note00:hover{
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.5);
}
