//text
$text-size1: 27px;
$text-size2: 17px;
$text-size3: 13px;
$text-submit: 15px;

$submit-h: 27px;


.settings00{
    .settings01{
        p{
            font-size: $text-size1;
        }
    }
    .settings02{
        p{
            font-size: $text-size2;
        }
    }
    .settings03{
        p{
            font-size: $text-size2;
        }
    }
    .settings04{
        .settings-btn{
            font-size: $text-size3;
            height: $submit-h;

        }
    }
}